@use "../../scss/variable";

.erorr-container {
    @include variable.flexBox(column, nowrap, normal, normal, center);
    max-width: 600px;
    height: 500px;
    background-color: variable.$color-background-erorr;
    color: variable.$color-font-erorr;
    border-radius: 5rem;

    & > div {
        margin: 1rem;
    }

    div:first-child {
        margin: auto 1rem;
    }
    h2 {
        font-size: variable.$size-r40;
        margin: 0;
    }
    span {
        font-size: variable.$size-r100;
    }
}

@include variable.Small {
}
@include variable.Medium {
}
@include variable.Large {
    .erorr-container {
        height: 300px;
        @include variable.flexBox(row, nowrap, normal, normal, center);
    }
}
@include variable.Extra-large {
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
