@use "../../scss/variable";

%input {
    margin: 0.5 0.25rem;
    background-color: variable.$color-basic-white;
    border-radius: 4px;
    border: 0;
    color: variable.$color-basic-black;
    font-size: variable.$size-r10 + 0.2rem;
    font-weight: variable.$weights-6;
    height: 36px;
    outline: 0;
    padding: 0 20px 0;
    text-align: center;
}

.searchbox-container {
    position: sticky;
    top: 0px;
    z-index: 10;
    padding: 1rem;
    background-color: variable.$color-background-search;
    @include variable.flexBox(column, nowrap, center, space-evenly, center);
    border-radius: 20px;

    & > div {
        margin: 0.5rem;
    }

    label {
        font-size: variable.$size-r10;
        font-weight: variable.$weights-8;
        color: variable.$color-basic-white;
    }

    input[type="number"] {
        @extend %input;
        width: 4rem;
        overflow: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .select {
        color: variable.$color-basic-black;
        width: 16rem;
    }

    input[type="search"] {
        @extend %input;
        width: 16rem;
    }

    .search-icon {
        font-size: variable.$size-r15;
    }

    .search-city,
    .search-number,
    .search-flex {
        @include variable.flexBox(row, nowrap, center, center, center);
    }
}

@include variable.Small {
}
@include variable.Medium {
    label {
        font-size: variable.$size-r10 + 0.25rem;
    }
    .searchbox-container {
        @include variable.flexBox(row, nowrap, normal, space-evenly, normal);
    }
}
@include variable.Large {
}
@include variable.Extra-large {
    .searchbox-container {
        padding: 0.3rem 1rem;
    }
}
@include variable.XXL-large {
}
@include variable.XXXL-large {
}
